﻿@{
    ViewData["Title"] = "Home Page";
}
@{ 
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron text-center">
    <h1>Welcome to CrytpoWeb</h1>
    <h4>The practice trader for cryptocurrency</h4>
    <form class="">
        <input type="text" placeholder="Username" />
        <br /> <br />
        <input type="password" placeholder="Password" />
        <br /> <br />
        <button type="submit">Log in</button>
    </form>
    
</div>