﻿<div id="onfirstvisit">
    <h1>Practice Trading</h1>
    <p>If you want to practice trading crypto currency without the fear of losing money, then you're in the right place.</p>
    <p>We start you off with V$50,000 and give you the list of cryptocurrencies to trade</p>
    <h4>Are you ready to start?</h4>
    <button onclick="document.getElementById('onfirstvisit').style.display = 'none'">Yes</button>
</div>
<div>
    <h1>V$<span id="currency"></span></h1>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Name:</th>
                <th>Symbol:</th>
                <th>Rank:</th>
                <th>Price_NZD:</th>
                <th>Price_Btc:</th>
                <th>Market_Cap_NZD:</th>
                <th>Total_Supply:</th>
                <th>Make A Purchase:</th>
                <th>Quantity I Own:</th>
                <th>Make A Sale:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="name"></td>
                <td id="symbol"></td>
                <td id="rank"></td>
                <td id="pricenzd"></td>
                <td id="pricebtc"></td>
                <td id="marketcap"></td>
                <td id="totalsupply"></td>
                <td id="purchase"></td>
                <td id="owned"></td>
                <td id="sell"></td>
            </tr>
        </tbody>
    </table>
</div>