﻿<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $.getJSON("https://api.coinmarketcap.com/v1/ticker/?convert=NZD&limit=20", function (json) {
                for (i = 0; i < json.length; i++) {
                    $("#name").append(json[i].name + "<br>");
                    $("#symbol").append(json[i].symbol + "<br>");
                    $("#rank").append(json[i].rank + "<br>");
                    $("#pricenzd").append(json[i].price_nzd + "<br>");
                    $("#pricebtc").append(json[i].price_btc + "<br>");
                    $("#marketcap").append(json[i].market_cap_nzd + "<br>");
                    $("#totalsupply").append(json[i].total_supply + "<br>");
                    $("#purchase").append("<button>Buy</button><input type='text'><br>");
                    $("#sell").append("<button>Sell</button><input type='text'><br>");
                }
            });
        </script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>