﻿@model IEnumerable<RapidProto3.Models.InvestmentAccount>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VirtualMoney)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VirtualBitcoin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VirtualEthereum)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VirtualMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VirtualBitcoin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VirtualEthereum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
