﻿@model RapidProto5.Models.UserAccount

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>UserAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vmoney" class="control-label"></label>
                <input asp-for="Vmoney" class="form-control" />
                <span asp-validation-for="Vmoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bitcoin" class="control-label"></label>
                <input asp-for="Bitcoin" class="form-control" />
                <span asp-validation-for="Bitcoin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ethereum" class="control-label"></label>
                <input asp-for="Ethereum" class="form-control" />
                <span asp-validation-for="Ethereum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
