﻿@model RapidProto5.Models.UserAccount

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vmoney)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vmoney)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bitcoin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bitcoin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ethereum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ethereum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
